
.login-form {
  width:280px;
}

.input-field{
  margin-top:0;
}

.login-form-text{
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:0.8rem;
}

.circle{
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
  border:2px solid #999;
  padding:3px;
  display:block
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
